django-cors-headers==4.6.0
django-redis==6.0.0

# Database
psycopg2==2.9.10

# Caching
redis==7.0.1

# Storage (AWS S3)
boto3==1.37.33
botocore==1.37.33
django-storages==1.14.6

# Authentication
djangorestframework-simplejwt==5.3.1
PyJWT==2.9.0

# Environment variables
python-decouple==3.8
python-dotenv==1.0.1

# WSGI server (for production)
gunicorn==23.0.0

# Utilities
requests==2.32.3
Pillow==10.2.0

# Optional: for translating text (you used googletrans earlier)
googletrans==4.0.0rc1
asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.8
djangorestframework==3.16.1
psycopg2-binary==2.9.11
sqlparse==0.5.3
tzdata==2025.2

